/*gerais*/
body {
    font-family: 'roboto',sans-serif;
    width: 100%;
    height: 100%;
}
.row{
    margin: 0;
}
.container{
    padding:70px 0;
}
p,li{
    font-size: 14px;
    color: white;
}

/*Barra de navegação*/

header,.navbar{
    background-color: purple;
}
#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}
#logo{
    width: 75px;

}

/*Slider*/

.container-fluid{
    padding: 0;
}
#mainSlider .carrousel-inner,#mainSlider .carousel-item{
    height: 90vh;   
}
#mainSlider .carousel-caption{
    top: 20%;
}
#mainSlider .carousel-caption h2{
     font-size: 50px;
     margin-bottom: 30px;
}
#mainSlider .carousel-caption p{
    font-size: 22px;
   font-weight: 300;
   margin-bottom: 100px;
   color: white;
}
.main-btn{
    background-color: darkblue;
    color: white ;
    text-transform: uppercase;
    width: 200px;
    height: 10px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
}
.main-btn:hover{
    text-decoration: none;
    color: white;
    background-color: transparent;
    border-color: blueviolet;
}
.carousel-indicators .active{
    background-color: darkblue;
}

/*Sobre*/

#sobre-area{
    background-color: white;
}
.main-title{
    color: purple;
    margin: 0 0 65px 0;
    font-size: 40px;
}
#p-sobre{
    text-align: justify;
    color: black;
    
}

#about title{
    font-size: 17px;
    color: black;
    font-weight: bold;
    text-align: justify;
}

/*formlulário*/

.main-form{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.esquerda-form{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.esquerda-form > h1{
    color: white;
}

.direita-form{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card-form{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: black;
    border-radius: 20px;
}
.card-form > h1{
    color:white;
    font-weight: 800;
    margin: 0;
}
.campo-texto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.campo-texto > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: whitesmoke;
    color: white;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
}
.campo-texto > label{
    color: white;
    margin-bottom: 10px;
}

.btn-form{
    width: 100%;
    padding: 16px 0;
}